:root {
    --font-family-primary: "Franklin";
    --font-family-secondary: "Sarabun", sans-serif;
    --text-sm: 14px;
    --text-sm-1:21.64px;
    --text-md: 24px;
    --text-lg: 43px;
    --text-xl: 64px;
    --color-sky: #D4E5FF;
    --color-blue: #245AAB;
    --color-dark-blue: #1C2430;
    --color-light-blue: #3586FF;
    --color-white: #FFFFFF;
    
}

.dark {
    --color-sky: white;
    --color-blue: black;
    --color-dark-blue: black;
    --color-light-blue: white;
    --color-white: #FFFFFF;
}

.font-family-primary {
    font-family: var(--font-family-primary);
}

.font-family-secondary {
    font-family: var(--font-family-secondary);
}

.text-sm {
    font-size: var(--text-sm);
}

.text-md {
    font-size: var(--text-md);
}

.text-lg {
    font-size: var(--text-lg);
}

.text-xl {
    font-size: var(--text-xl);
}

.color-sky {
    color: var(--color-sky);
}

.color-blue {
    color: var(--color-blue);
}

.color-white {
    color: var(--color-white);
}

.color-light-blue {
    color: var(--color-light-blue);
}

.color-dark-blue {
    color: var(--color-dark-blue);
}

.bg-blue {
    background-color: var(--color-blue);
}

.bg-dark-blue {
    background-color: var(--color-dark-blue);
}



@media (max-width:991.98px) {
    :root {
        --text-xl: 42px;
    }
}

@media (max-width:767.98px) {
    :root {
        --text-xl: 32px;
        --text-lg: 32px;
    }
}